<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %} | {% trans 'FlexiConvert' %}</title>
    
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <!-- <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />

    <link rel="icon" href="{% static 'img/brand/Favicon3.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fa' %}
      <link rel="stylesheet" href="{% static 'css/argon-rtl.css' %}" />
      <link rel="stylesheet" href="{% static 'vendor/bootstrap-rtl/bootstrap-rtl.css' %}" />
      <link rel="stylesheet" href="{% static 'css/rtl-font.css' %}" />
      <link rel="stylesheet" href="{% static 'vendor/nucleo/css/rtl_nucleo.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css" />
    {% else %}
      <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css" />
    {% endif %}
  </head>

  <body class="bg-default">
    {% include 'auth_include/navbar.html' %}

    {% block content %}

    {% endblock %}
    {% include 'auth_include/footer.html' %}

    {% block javascript %}

    {% endblock %}

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'js/argon.js' %}"></script>إ
  </body>
</html>
