{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans 'Change Password' %}
{% endblock %}

{% block content %}
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5"></div>
          </div>
        </div>
        <div class="card bg-gradient-default">
          <div class="card-body">
            <h3 class="card-title text-white" align="center">{% trans 'Reset your password' %}</h3>
            <blockquote class="blockquote text-white mb-0">
              <p align="center">{% trans "We've emailed you instructions for setting your password." %}</p>
              <p class="blockquote-footer text-danger" align="center">
                <strong>{% trans "If you don't receive an email, please make sure you've entered the address you registered with." %}</strong>
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
  </div>
{% endblock %}
