{% load i18n %}
{% load static %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="card">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" align="center">{% trans 'Tools' %}</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            {% for tool in tools %}
              <div class="col-lg-3 col-md-5">
                {% if tool.status == 'DF' %}
                  <span class="soon">{% trans 'Coming Soon...' %}</span>
                {% endif %}
                
                <a href="{% url tool.url %}">
                  <button type="button" class="btn-icon-clipboard" title="{{ tool.title }}">
                    <div>
                      <!-- <i class="{{ tool.icon }}"></i> -->
                      <img src="{% static tool.icon %}" alt="Check icon" width="30" height="30">
                      <span style="color:#5e72e4">{{ tool.name }}</span>
                    </div>
                  </button>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
